<div class="main">
  <div class="container row">
    <div class="content col l4 m12 s12 offset-l4">
      <div class="row">
        <div class="title center-align">
          <div class="col l12">Devo abastecer com </div>
          <span class="featured light-green-text">Álcool</span> ou
          <span class="featured pink-text">Gasolina</span> ?
        </div>
      </div>
      <%= render partial: 'comparation_card'%>
      <div class="row">
        <div class="col l7 offset-l5">
          <img class="responsive-img" src="/logo-1.png">
        </div>
      </div>
    </div>
  </div>
</div>
