.input-field {
  label.active {
    font-weight: bold;
  }
  input{
    color: #bdbdbd;
  }
}

#result {
  color: #bdbdbd;
  font-weight: bold;
  font-size: 1.1rem;
}

#result-featured {
  font-size: 1.5rem;
  font-weight: bold;
}
